<a href="https://colab.research.google.com/github/bhurlepadmaja1512-cmyk/30-Days-Of-Python/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [2]:
a=789
b=678
c,d=a,b
print(a,b,c,d)

789 678 789 678

In [3]:
x,y,z=56,90,34
print(x*y,y*z,z*x)

5040 3060 1904

In [6]:
name = "app"
age = 67
phone = "1234567890"
student = True
#type
print(type(name),type(age),type(phone),type(student))

<class 'str'> <class 'int'> <class 'str'> <class 'bool'>

In [7]:
days = 7
print(days)

7

In [8]:
day = 24
hour = 60
print("total minutes in a day",day*hour)

total minutes in a day 1440

In [9]:
count = int(input("Enter a number: "))
minutes=60
print("Enter number of hrs:",count)
print("the number of mints are:",minutes*count)S

Enter a number: 4
Enter number of hrs: 4
the number of mints are: 240

In [16]:
a=[20,"paddu",40]
b={48,61}
c=(23,25,18)
d={"name":"paddu","age":20}
print(a[1])
print(list(b)[1])
print(c[2])
print(d["age"])

paddu
61
18
20

In [23]:
a = int(input("enter a number: "))

if a % 2 == 0:
    print("even")
else:
    print("odd")

enter a number: 4
even

In [25]:
a = int(input("enter a number: "))

print("even" if a % 2 == 0 else "odd")

enter a number: 8
even

In [28]:
username = "john"
password = "1212"
a = input("Enter username")
b = input("Enter password")
if a == username and b == password:
    print("login successful")
else:
    print("login failed")

Enter usernamejohn
Enter password1212
login successful

In [29]:
a = range(6)
print(a)
print(list(a))

range(0, 6)
[0, 1, 2, 3, 4, 5]

In [30]:
a = [23, 1, 2, 4]
for i in a:
  print(i)

23
1
2
4